PUBLIC_SHOPIFY_STORE_DOMAIN=jnw-wine.myshopify.com
PUBLIC_SHOPIFY_STOREFRONT_TOKEN=replace_me
SHOPIFY_STORE_DOMAIN=jnw-wine.myshopify.com
SHOPIFY_STOREFRONT_TOKEN_SERVER=replace_me
SHOPIFY_API_VERSION=2025-01
